In [0]:
outfile = open('students.dat','w')
#write data to the file
while True:
  name = input()
  calculus = input()
  accounting = input()
  if name == 'none':
    break
  else:
    outfile.write(name)
    outfile.write(' ')
    outfile.write(calculus)
    outfile.write(' ')
    outfile.write(accounting)
    outfile.write(' ')
    outfile.write('\n')
outfile.close()

Peter
90
89
Mary
88
79
John
80
95
Nancy
87
76
Lulu
67
99
none
10
10

In [0]:
infile = open('students.dat','r')

info = infile.readline()
while info != '':
  print(info)
  info = infile.readline()

infile.close()

Peter 90 89

Mary 88 79

John 80 95

Nancy 87 76

Lulu 67 99

In [0]:
infile = open('students.dat','r')

info = infile.readline()
while info != '':
  lst = info.split(' ')
  calculus = eval(lst[1])
  accounting = eval(lst[2])
  average = calculus * 0.6 + accounting * 0.4
  print('|%10s: %.2f|'%(lst[0], average))
  info = infile.readline()

infile.close()

|     Peter: 89.60|
|      Mary: 84.40|
|      John: 86.00|
|     Nancy: 82.60|
|      Lulu: 79.80|

In [0]:
#1.試撰寫一程式，要求使用者輸入五個好友的姓名、電話，以及出生年、月、日。並將它寫入名為friends.dat的檔案。
outfile=open('friends.dat','w')
for i in range(1,6):
  data=input()
  outfile.write(data)
  outfile.write('\n')

outfile.close()

John 0911-231-897 87-09-10
Mary 0919-257-333 78-10-08
Peter 0922-999-202 81-10-11
Nancy 0922-333-897 82-11-23
Linda 0913-245-789 88-02-11

In [0]:
# 2.試著撰寫一程式，以不定數迴圈輸入學生的姓名、python的分數，當姓名為none時，則結束輸入的動作，並將寫入各為scores.dat的檔案(至少輸入三位學生)
outfile=open('scores.dat','w')
while True:
  name=input()
  score=input()
  if name=='none':
    break
  else:
    outfile.write(name)
    outfile.write(' ')
    outfile.write(score)
    outfile.write('\n')

outfile.close()

Joe
90
Mary
88
Nancy
88
Jennifer
99
none
11

In [0]:
#3.試撰寫一程式，將習題1的friends.dat檔案開啟，病毒初期檔案內容後加以印出
infile=open('friends.dat','r')
for i in range(1,6):
  info=infile.readline()
  print(info)
infile.close()

John 0911-231-897 87-09-10

Mary 0919-257-333 78-10-08

Peter 0922-999-202 81-10-11

Nancy 0922-333-897 82-11-23

Linda 0913-245-789 88-02-11

In [0]:
#4.試撰寫一程式，將習題2的scores.dat檔案開啟，病毒初期檔案內容加以印出
infile=open('scores.dat','r')
info=infile.readline()
while info !='':
  print(info)
  info=infile.readline()

infile.close()

Joe 90

Mary 88

Nancy 88

Jennifer 99

In [0]:
infile=open('scores.dat','r')
count = 0
tot = 0
info= infile.readline()
while info !='':
  lst = info.split(' ')
  tot += eval(lst[1])
  count += 1
  info= infile.readline()

average = tot / count
print('average score : %.2f'%(average))
infile.close()

average score : 91.25